[Unit]
Description=Aegis System Resource & OOM Monitor Daemon
After=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/aegis daemon
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
