[Unit]
Description=Aegis System Resource & OOM Monitor Daemon
Documentation=https://github.com/Gaurav-Kanse/Aegis
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/aegis daemon
Restart=on-failure
RestartSec=5s
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
